.App {
  display: flex;
}

.app__hi {
  margin: 40px auto;
  font-size: 5rem;
  font-style: normal;
  font-weight: 100;
  animation-name: hi_animation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes hi_animation {
  from {
    transform: translatey(60px);
    opacity: 0;
  }
  to {
    transform: translatey(0px);
    opacity: 1;
  }
}