.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__header {
  display: flex;
  width: 100%;
  height: 300px;
  background-color: $dark;
  align-items: center;
  justify-content: center;
}

.app__hi {
  color: $white;
  font-size: 5rem;
  font-style: normal;
  font-weight: 100;
  display: flex;
  
  .h{
    opacity: 0;
    transform: translatey(60px);
    animation-duration: 800ms;
    animation-name: hi_animation;
    animation-fill-mode:forwards;
    animation-timing-function: ease-out;
  }
  .i{
    opacity: 0;
    transform: translatey(60px);
    animation-duration: 800ms;
    animation-name: hi_animation;
    animation-timing-function: ease-out;
    animation-fill-mode:forwards;
    animation-delay: 100ms;
  }
  .p{
    opacity: 0;
    transform: translatey(60px);
    animation-duration: 800ms;
    animation-name: hi_animation;
    animation-timing-function: ease-out;
    animation-fill-mode:forwards;
    animation-delay: 200ms;
  }
  
}

@keyframes hi_animation {
  from {
    transform: translatey(60px);
    opacity: 0;
  }
  to {
    transform: translatey(0px);
    opacity: 1;
  }
}

.para {
    margin: 100px 0;
    width: 520px;
    font-size: 1.5rem;
}