.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__header {
  display: flex;
  width: 100%;
  height: 300px;
  background-color: $dark;
  align-items: center;
  justify-content: center;
  margin-bottom:100px;
}

.app__hi {
  color: $white;
  font-size: 5rem;
  font-style: normal;
  font-weight: 100;
  display: flex;
  
  .h{
    opacity: 0;
    transform: translatey(60px);
    animation-duration: 800ms;
    animation-name: hi_animation;
    animation-fill-mode:forwards;
    animation-timing-function: ease-out;
  }
  .i{
    opacity: 0;
    transform: translatey(60px);
    animation-duration: 800ms;
    animation-name: hi_animation;
    animation-timing-function: ease-out;
    animation-fill-mode:forwards;
    animation-delay: 100ms;
  }
  .p{
    opacity: 0;
    transform: translatey(60px);
    animation-duration: 800ms;
    animation-name: hi_animation;
    animation-timing-function: ease-out;
    animation-fill-mode:forwards;
    animation-delay: 200ms;
  }
  
}

@keyframes hi_animation {
  from {
    transform: translatey(60px);
    opacity: 0;
  }
  to {
    transform: translatey(0px);
    opacity: 1;
  }
}

.app__section {
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &--lists {
    align-items: flex-start;
    text-align: center;

    h4 {
      margin-bottom: 10px;
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
}

.list {
  margin: 0 20px;
}

.para {
    margin: 0 20px;
    max-width: 340px;
    font-size: 1.5rem;
}

.profile-image {
  margin: 0 20px;
  height: 200px;
  width: 200px;
  border: solid 1px $dark;
  border-radius: 50%;
  overflow: hidden;

  &__img {
    max-height: 100%;
    max-width: 100%;
  }
}

.section-header {
  font-size: 2.5rem;
  font-weight: 400;

  .bold {
    color: $red;
  }
}

.skills-list {
  list-style-type: none;
  margin: 0 30px;
  padding: 0;

  li {
    font-size: .95rem;
    font-weight: 200;
    margin: 5px 0;
  }
}